*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.imgset{
    width:20px;
    height:20px;
    margin:0 1rem 0 0.6rem;
   
}
.flex1{
    display:flex;
    justify-content:space-between;
    background-color:rgb(161, 83, 235);
    height:2.5rem;
    padding:0.5rem;
    align-items:center;
}
.margin{
    margin:0rem 9rem 0;
}
span{
    color:#fff;
}
.imgset1{
    width:100px;
    height:50px;
}
.background{
    background-color:rgba(100%, 100%, 100%,1);
    height:3rem;
}
.flex2{
    display:flex;
    justify-content:space-between;
    padding:1rem;
    height:4rem;
    align-items:center;
}
ul{
    display:flex;
    list-style-type:none;
    
    
    
    
}
li a{
   text-decoration:none;
   margin:1rem;
   color:#595555;
   font-weight:lighter;
   font-size:20px;
}
.mainmenu li{
    position:relative;
}
.submenu{
    position:absolute;
    top:34px;
    left:0px;
    display:none;
    padding:1.3rem;
    width:220px;
    background-color:green;
    
    
}
.submenu li a{
    border-bottom:2px solid #fff;
    color:#fff;
    width:100%;
    display:block;
    
}
.mainmenu li:hover .submenu{
    display:block;
    background-color:rgb(60, 82, 60);

}
.mainmenu li a:hover{
    
    border-bottom:2px solid green;
}