* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

header .top,
.bottom,.flex1 {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.top {
    background-color: #000442;
    padding: 0 5rem 0 7rem;
    height: 2.5rem;
    color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    margin: 0 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    font-size: large;
}

.bottom img {
    width: 11rem;
    height: 5rem;
}

header .top a {
    color: #fff;
}

.bottom {
    margin: 1rem 5rem 0;
    height: 4rem;
}

.mainmenu li {
    position: relative;

}

.submenu {
    position: absolute;
    top: 1.5rem;
    left: 0;
    display: none;
    background-color: rgb(90, 236, 90);
    width: 120px;

    z-index: 3;

}

.submenu li {




    padding: 1rem 0.5rem
}

.mainmenu li:hover .submenu {

    display: block;


}

.submenu li:hover {
    background-color: antiquewhite;
}

.mainmenu li a:hover {
    border-bottom: 2px solid green;
}

.box {

    color: #fff;
    width: 50px;
    height: 40px;
    padding: 1rem;
    margin: 0rem 1rem 0;

}

.box1 {
    background-color: green;
}

.box2 {
    border: 2px solid;


}

#hero {
    position: relative;
    
    background-image: url(Homes_Photo_dev_hero-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 82vh;
    width:100%;

}

#hero::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.55;

}

p {
    margin: 3rem 0 1rem 0;
    padding:0 0 2rem 0;
}

i {
    margin: 0 0.75rem 0 0;
}

.upercase {
    position: relative;
    margin: 7rem 6rem 0 6rem;
    color: #ffffff;
}

.upercase h1 {
    font-size: 60px;
    width: 40rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;

}


#flx {
     width: 100%;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#flx {
    width: 80%;
    height: 400px;
    flex-wrap: wrap;
    margin: 0 10rem;

}

.flx1 {
    display: flex;
    width: 45%;
    height: 25%;
    justify-content: left;
    align-items: center;
}



#flx h1 {
    margin-left: 35px;
}

#flx .p1 {
    width:73px ;
    height:84px ;
}

#flx .p2 {
    width: 58px;
    height: 81px;
}

#flx .p3 {
    width:73px ;
    height: 67px;
}

#flx .p4 {
    width:58px  ;
    height: 66px;
}
.iframe{
    height:400;
    width:500px;
}
.page3set{
    width:100%;
    height:500px;
    background-color:rgba(105, 215, 179,0.1);
}
.page3set,.ninebox,#hero{
    display: flex;
    justify-content: space-between;
}
.pageset{
    width:60%;
    height:400px;
    margin:2.5rem 6rem;
}
.font,.size{
    font-size:40px;
    margin:0 0 0.5rem 0;
   
}
.pageset1{
    margin:3rem 6rem 0rem 3rem;;
}
.placeholder{
    font-weight:lighter;
    font-size:small;
}
.bold{
    font-weight:500;
    font-size:22px;
}
.lighter{
    font-weight:lighter;
    color:#65687a; 
    margin-bottom:1rem; 
}
.font{
    width:600px;
    height:40px;
    border:1px solid #efe1e1;
    font-size:15px;
    
}
h4:first-child{
    text-align:center;
    font-size:25px;
    font-weight:lighter;
    margin-bottom:2rem;
    color:#514f4f;
}
.style{
    font-weight:500;
    font-size:16px;
    color:#54595f;
    line-height:30px;
}
.color{
    background-color:green;
    color:#fff;
    margin-top:1rem;
}
.thbox{
    border:0.5px solid #615d5d;
    width:400px;
    height:550px;
    text-align:center;
    text-align-last: center;;
    padding:2rem;
}
.setimg{
    width:170px;
    height:50px;
    margin:0.1rem 156px 0.3rem 79px ;
    
    
    
}
.margin{
    width:114px;
    
    margin-bottom:1rem;
}
.thbox h1{
    font-weight:400;
    word-spacing: 5px;
    margin:0.4rem 0;
    font-size:21px;
}
.thbox h3{
    font-weight:lighter;
    word-spacing: 5px;
    margin-bottom:1.5rem;
    font-size:18px;
}
.thbox p{
    font-size:19px;
    word-spacing:10px;
    font-weight:lighter;
    color:#362f2f;
}
.threebox{
    display:flex;
    justify-content:space-between;
    margin:3rem 7.5rem;
}
.size1{
    font-size:43px;
    text-align:center;
    margin:4rem 0 0 16rem;
    width:71%;

}
.backcolor{
    background-color:rgba(0,0,0,0.1);
    width:100%;
}
.imgset1{
    width:350px;
    height:230px;
    margin:0.5rem 0.5rem;
    
    z-index:2;
} 
.setback{
     border:1px solid #9f9d9d;
     background-color:#fff;
     width:370px;
     height:500px;
    margin-bottom:4rem;
}
.setback div{
    text-align:center;
    word-spacing:0.7rem;
    padding:0.5rem;
}
.setback a{
    text-align:center;
    background-color:green;
    color:#fff;
    padding:0.6rem;
    display:block;
    font-size:20px;
}
.ninebox{
   
    width:100%;
    flex-wrap:wrap;
    align-items:center;
    padding:7rem;
}
.backcolor h1{
    text-align:center;
    margin-top:-2rem;
    padding-top:7rem;
    font-size:50px;
    font-weight:bolder;
}
.small{
    height: 106px;
    width: 176px;
    margin: 1rem 2rem 6rem 1.5rem;
  }

.width2{
    width:30%;
    margin-left:3rem;
}

.flex1{
    
    margin:4rem 1rem 4rem 2rem;
}
.flex1 a{
    display:flex;
}
.width1{
    font-size:40px;
    width:30%;
    
}
.width{
    width:84%;
    line-height:2rem;
    margin-bottom:2rem;
    color:#5b5252;
    font-weight:lighter;
}
.imgwidth{
    width: 52%;
display: flex;
flex-wrap: wrap;
margin-right: 7rem;
}
.center1{
    margin-bottom:5rem;
}
.center{
    text-align:center;
    margin-bottom:1.5rem;
    font-size:30px;
}
.tb{
    border:1px solid;
    width:600px;
    height:50px;
    padding:1rem;
    margin-left:28rem;
    background-color:#c1c2c9;
    font-weight:lighter;
}
.lastimg img{
    width:100%;
    height:300px;
    
    
    
    
   
}
.lastimg{
    position:relative;
    background-image:url(https://roofingbymccanns.com/wp-content/uploads/2022/05/Homes_Photo_dev_hero-2.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height:300px;
   
   
}
.lastimg::before{
    content:' ';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(7, 57, 7, 0.8);
    
   
}
.lastimg{
    display:flex;
   

}
.limg1{
    margin:5rem 2rem 0 6rem;
    width:50%;
    color:#fff;
    z-index:1;
    
}
.limg1 h1{
    font-size:40px;
}
.limg2{
    margin:8rem 2rem 0 2rem;
    width:50%;
    z-index:2;
   
    
}
.limg2 a{
    
   
    font-weight:lighter;
    border:2px solid;
    width:250px;
    height:40px;
    display:inline-block;
    padding:0.44rem;
   
    
    
}
.limg22 i{
    margin-left:0.6rem;
   
}
.limg21{
    background-color:#fff;
    font-size:22px;
    
}
.limg22{
   color:#fff;
   font-size:22px;
   
  
   
   
}
.limg22:hover {
    background-color:#000442;
}
.limg21:hover{
    background-color:green;
}
.wrapper1{
    background-color: #000442;
    
}
.address{
    padding:5rem 4rem;
    display:flex;
    /* justify-content:space-between; */
    width:100%;
}
.address1 p{
    text-align:justify;
    margin:3rem 0 3rem 1.5rem;
}

.address1,.address2{
    color:#fff;
    border-right:1px solid;
    padding:0 1rem 0 0;
    width:30%;
   
}
.img1{
    width:400px;
    height:200px;
    padding:0 1rem 0 0;
}
.img2{
    width:172px;
    height:160px;
}
.address2 a{
    color:#fff;
    display: block;
    margin-bottom: 1.5rem;
    
    
}
.address2 ul{
    display:flex;
    display:block;
    justify-content:space-between;
   
}
.address2 h3{
    font-size:25px;
    margin-left:1.5rem;
    margin-bottom:1.5rem;
   

}
#i{
    margin:2rem 0 1rem 2rem;
  display:flex;
}
#i i{
    font-size:30px;
    margin-left:0.2rem;
    background-color:rgb(15, 159, 216);
}
.design{
    border:10px solid double #fff;
    width:250px;
    height:50px;
}
.box8{
    border:2px double #fff;
    width:277px;
    height:60px;
    margin:2rem 0 1rem 2rem; 
}
.box8 a{
    border: 1px solid green;
border-radius: 5px;
width: 250px;
height: 30px;
margin: 0.9rem 1rem 1rem 0.7rem;
background-color: #fff;
color: green;
text-shadow: 2px 2px 5px green;
padding:0.3rem;
font-weight:lighter;
}
span{
    color:#000;
    font-weight:lighter;
}
.addressd21{
    margin:1rem 0 1rem 2rem;
}
.address21 h2{
    margin:1rem 0 1rem 1.5rem;
}
.address3{
    display:flex;
    color: #fff;
display: block;
margin: 0rem 1rem 0rem 2rem;
}
   
.address3 ul {
   display:flex;
   display:block;
   margin-bottom:2rem;
}
.address3  a{
    color:#fff;
   margin:0.5rem 0rem 1rem -2.5rem;
    
    display:block;
    font-weight:lighter;
    font-style:inherit;
}
.address3 h3{
    margin: 0.3rem 0rem 1rem -2.5rem;
font-size: 25px;
}
.address33{
    margin-left:2.5rem;
}
.address3 h2{
    margin:1.5rem 0;
}
.address3 a:nth-child(2){
    font-size:15px;
    font-weight:bold;
    color:#65687a;
}
.wrapper4 .fix{
      color:black;
      border:1px solid;
      border-radius:5px;
      position:fixed;
      top:80vh;
      right:-43px;
      z-index:4;
      background-color:green;
      transform: rotate(90deg);
      padding:0.5rem;
      
}
.upbox{
    margin-bottom:1rem;
}
.a1{
    margin-top:1rem;
}
.a2{
    margin-bottom:1rem;
}
.p1{
    margin:2.6rem 0 0 0;
}
.c{
    margin-bottom:1rem;
}